#main
{
    border: 2px solid rgb(41, 53, 212);
    /* height: 94vh; */
    width: 97vw;
    border-radius: 5rem;
    margin: 1rem;
    display: flex;
}

#choose
{
    width: 63rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-right: 2px solid rgb(41, 53, 212); */
}

#choose div
{
    font-size: 4rem;
    color: rgb(41, 53, 212);
}