.sear-logo-relieving{
      margin-top: 40px;
      margin-left: 60px;
      height: 60px;
      width: 120px;
}
.heading-relieving{
      margin-top: 10px;
      margin-left: 250px;
      font-weight: bold;
      font-size: xx-large;
}
.company-name-relieving{
      margin-top: 20px;
      margin-left: 60px;
      font-size: large;
}
.letter-title-relieving{
      margin-top: 20px;
      margin-left: 60px;
      font-size: large;
}
.salutation-relieving{
      margin-top: 20px;
      margin-left: 60px;
      font-size: large;
}


.upper-content-relieving{
      /* margin-top: 10px; */
      margin-left: 60px;
      font-size: large;
}
.lower-content-relieving{
      margin-top: 30px;
      margin-left: 60px;
      font-size: large;  
}
.lower-salutation-relieving{
      margin-top: 30px;
      margin-left: 60px;
      font-size: large;
}
.director-relieving{
      margin-top: 60px;
      margin-left: 60px;
      font-size: large;
}
.last-section-relieving{
      margin-top: 20px;
      margin-left: 60px;
      font-size: large;
      font-weight: bold;
}
.footer-relieving{
      margin-top: 140px;
      margin-left: 60px;
      font-size: small;
}
.footer-section-relieving{
      text-align: center;
}