#sidebar
{
    border: 2px solid rgb(41, 53, 212);
    width: 15rem;
    height: 93.6vh;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    background-color: rgb(41, 53, 212);
    color: white;
}

#sidebar h3
{
    text-align: center;
    margin: 1rem 0rem;
    font-size: 2.5rem;
}

.options
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.options ul
{
    list-style: none;
}

.options ul li
{
    margin: 4rem 0rem;
    font-size: 1.5rem;
}

.options ul li a
{
    text-decoration: none;
    color: white;
}

.options ul li a:hover
{
    color: rgb(197, 58, 190);
}

.logout 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout button
{
    margin: 0.5rem 0rem;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: rgb(41, 53, 212);
    color: white;
}

.logout button:hover
{
    background-color: white;
    color: black;
}
